/tmp/**/*
/webrat.log
/vendor/webrat/vendor
/public/system/**/*
/tmp/restart.txt
/tmp/webrat*
/log/*.log
/log/*.log*
.DS_Store
/tmp/**/*
/db/*.sqlite3
/coverage
/rerun.txt
/config/database.yml
/uploads
