.col6-0.reply-wrapper.clearFix
  %h1.success You have successfully retweeted the item &quot;#{h(@item.name)}&quot; !

  =link_to 'close this', 'javascript:void(0);', :rel=>"ubox-close", :class => "ubox-close"
