html {min-height: 100%; height: 100%; padding-top: 11px; background: url(../images/top-ornament.png) repeat-x;}
body{background: url(../images/body-bg.jpg) 10% 65% repeat;color:#333; font-size: 12px; line-height: normal; min-height: 100%;  padding-bottom: 80px; font-family: "Lucida Grande","Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;}
abbr {cursor: default;}
.top-panel {background: #F5FAFA url(../images/top-panel-bg.png) repeat-x; padding-bottom: 30px;}
.boughtstuff-main {background:url(../images/boughtstuff-form-bg.png) 0 100% no-repeat; height: 235px; padding: 18px 4px 0 4px;}
h2.branding {margin: 0 0 0 30px; width: 460px; padding-top: 60px;}
h2.branding a.ir {background: url(../images/boughtstuf-branding-bg.png) no-repeat; padding-top: 78px;}
fieldset.boughtstuff-form {height: 48px; line-height: 48px; margin-top: 20px;}
fieldset.boughtstuff-form label {position: relative; font-size: 18px;}
fieldset.boughtstuff-form label .faux-value {position: absolute; width: 400px; color: #929292; margin-left: 10px; font-family: Georgia, Times, "Times New Roman", serif; cursor: text;}
fieldset.boughtstuff-form label .label {font-weight: bold; color: #666;}
fieldset.boughtstuff-form input.text-input {background: none; padding: 10px; font-size: 18px; color: #666;}
.button {background: url(../images/button-bg.png) repeat-x; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; border: 1px solid #2794DF !important; font-size: 19px; color: #FFF; height: 48px; padding: 0 10px; text-transform: uppercase; font-weight:bold;text-shadow: #2794DF 0px 1px 0px; font-family: "Lucida Grande","Lucida Sans Unicode", helvetica, verdana, arial; cursor: pointer;}
.button:hover {background-position:0px -48px;}
.button:active {color: #2794DF; text-shadow: #AFE9FF 0px 1px 0px;}
.boughtstuff-user-nav {background: url(../images/user-nav-bg.png) repeat-x; }
.faux-value{visibility: hidden; }
.main-nav {border-left: 1px solid #FFF; border-right: 1px solid #D0CECE; position: relative;}
.main-nav li {border-left: 1px solid #D0CECE; border-right: 1px solid #FFF; padding: 30px 10px 0 10px !important; height: 39px;text-align: center;}
.main-nav li a {color: #7C7C7C; text-decoration: none; text-transform: uppercase; font-size: 13px; text-shadow: #FFF 0px 1px 0px; display: block;}
.main-nav li a:hover {color: #4C88CE;}
.main-nav li.active {background: #F6F6F6;}
.main-nav li.active a {color: #333 !important;}

.user-meta {text-align: right; margin-top: 10px; }
.user-meta * {margin: 0; padding: 0; line-height: normal;}
.user-meta h2 { margin-top: 5px;}
.user-meta h2 a {font-size: 20px;text-shadow: #FFF 0px 1px 0px; color: #111; text-decoration: none;}
.user-meta h2 a:hover {color: #4C88CE;}
.user-meta p {font-size: 12px; color: #666; text-shadow: #FFF 0px 1px 0px;}
.user-meta p strong {color: #30B339;}
.user-meta .twitter-pic {margin-left: 10px; border-bottom: 1px solid #FFF;}

.subnav {background: url(../images/subnav-bg.png) repeat-x; height: 38px; width: 100%;}
.subnav * {line-height: normal;}
.subnav .back-link { font-size: 10px; font-weight: bold; color: #FFF; text-decoration: none; text-transform: uppercase; text-shadow: #1C1C1C 0px 1px 0px; display: block;line-height: 40px; background: url(../images/back-to-shelf-icon.png) 0 50% no-repeat; padding-left: 30px; margin-left: 20px;}
.subnav a { line-height: 18px; font-weight: bold; color: #FFF; text-decoration: none; text-transform: uppercase; text-shadow: #1C1C1C 0px 1px 0px; display: block; line-height: 40px; font-size: 10px;}
.subnav .back-link:hover, .subnav a:hover {color: #4C88CE;}
.subnav .meta-nav li {margin-left: 20px;}
.subnav .logout-nav {background: url(../images/logout-icon.png) 0 50% no-repeat; padding-left: 20px;}
.subnav .login-nav {background: url(../images/twitter-icon.png) 0 50% no-repeat; padding-left: 25px;}
.subnav-switch {padding-top: 11px; width: 172px; margin-left: 20px !important;}
.subnav-switch li.colL {width: 92px;}
.subnav-switch li.colR {width: 80px;}
.subnav-switch li.colL a {background: url(../images/switch-bg.png) 55px -18px no-repeat; display: block;  font-size: 10px; font-weight: bold; color: #FFF; text-decoration: none; text-transform: uppercase; height: 18px; line-height: 18px; text-shadow: #1C1C1C 0px 1px 0px;}
.subnav-switch li.colR a {background: url(../images/switch-bg.png) -35px 0 no-repeat; display: block; font-size: 10px; font-weight: bold; color: #FFF; text-decoration: none; text-transform: uppercase; height: 18px; line-height: 18px; text-align: right; text-shadow: #1C1C1C 0px 1px 0px;}
.subnav-switch li a:hover {color: #4C88CE;}
.subnav-switch li.colL.active a {background-position: 55px 0;}
.subnav-switch li.colR.active a {background-position: -35px -18px;}
.subnav-switch.explore {width: 150px;}
.subnav-switch.explore li.colL {width: 90px;}
.subnav-switch.explore li.colL a {background-position: 35px -18px;}
.subnav-switch.explore li a {background-image: url(../images/switch-bg-explore.png);}

#shelf {background: url(../images/shelf-top.png) no-repeat; padding-top: 25px; margin-top: 30px;}
#shelf .shelf-content { background: url(../images/shelf-bg.png) repeat-y;}
#shelf .bottom-shelf {height: 39px; background: url(../images/bottom-shelf-bg.png) no-repeat;}
#shelf .shelf-items { height: 687px; background: url(../images/platform-bg.png) 50% 0 repeat; padding: 0 30px;}
#shelf .shelf-items .shelf-item {height: 200px; background: 50% 0 url(../images/item-shadow.png) no-repeat; position: relative; margin-bottom: 43px;}
#shelf .shelf-items .shelf-item .item-link {display: block; width: 160px; margin: 0 auto;-moz-border-radius-topright:3px;-moz-border-radius-topleft:3px; outline: 1px solid transparent;}
#shelf .shelf-items .shelf-item .item-link img {display: block; margin: 6px auto !important;border-top-left-radius:3px;-webkit-border-top-left-radius:3px; border-top-right-radius:3px;-webkit-border-top-right-radius:3px; }
#shelf .shelf-items .shelf-item .item-link:before { content: " "; background: url(../images/shine.png) no-repeat; position: absolute; height: 115px; width: 159px; display: block !important; left: 10px;}
#shelf .shelf-items .shelf-item .item-details {position: absolute; bottom: -1px; left: 50%; margin-left: -80px;}
#shelf .shelf-items .shelf-item .item-meta { padding:10px; background: url(../images/meta-bg.png) repeat; }
#shelf .shelf-items .shelf-item .contact-avatar {display: inline-block; margin-bottom: 5px; margin-left: 5px;}
#shelf .shelf-items .shelf-item .contact-avatar img {border: 1px solid #FFF;}
#shelf .shelf-items .shelf-item .item-meta .item-title {margin-bottom: 10px; padding-bottom: 10px; background: url(../images/title-groove.png) 0 100% repeat-x; margin-bottom: 10px; color: #FFF; font-weight: normal;}
#shelf .shelf-items .shelf-item .item-meta .item-title a {color: #CCC; text-decoration: none; font-size: 12px; font-weight: normal;}
#shelf .shelf-items .shelf-item .item-meta .item-title a.contact-link {color: #30B439 !important;}
#shelf .shelf-items .shelf-item .item-meta .item-title a.contact-link:hover {color: #3FE84A !important;}
#shelf .shelf-items .shelf-item em.new-item-badge {padding-top: 40px; width: 37px; position: absolute; background: url(../images/new-item-stub.png) no-repeat; top: 5px; left:9px;}
#shelf .shelf-items .shelf-item em.sparkly-focus {padding-top: 71px; width: 64px; background: url(../images/bling.png) no-repeat; position: absolute; top: -28px; right: -12px;} 
#shelf .shelf-items .shelf-item:hover .item-meta .item-title a {color: #FFF;}
#shelf .shelf-items .shelf-item .item-meta .item-price {margin: 0px; float: left;}
#shelf .shelf-items .shelf-item .item-meta .item-price, #shelf .shelf-items .shelf-item .item-meta .item-price * {text-decoration: none; border: 0; color: #30B439; font-weight: bold;}
#shelf .shelf-items .shelf-item .item-actions {position: absolute; right: -5px; background: url(../images/item-actions-icn.png) no-repeat; height: 30px; width: 30px; bottom: 3px; padding-left: 6px; cursor: pointer;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook {position: relative; z-index: 10;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu {position: absolute; bottom: -30px; right: -60px; background: #E5E5E5;  padding: 5px 5px 0 5px; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; display: none; width: 50px;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li {border-bottom: 1px solid transparent; padding: 5px 3px 5px 5px; text-align: center; margin-bottom: 5px;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li a {font-size: 10px; text-transform: uppercase; text-decoration: none; color: #656565; display: block; font-family: helvetica, verdana, arial, sans-serif;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li.view-item a {background: url(../images/view-icn.png) 50% 4px no-repeat; padding-top: 20px; }
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li.like-item a {background: url(../images/like-icn.png) 50% 4px no-repeat; padding-top: 20px;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li.reply-item a {background: url(../images/reply-icn.png) 50% 4px no-repeat; padding-top: 20px;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li.dm-item a {background: url(../images/dm-icn.png) 50% 4px no-repeat; padding-top: 20px;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li.rt-item a{background: url(../images/rt-icn.png) 50% 4px no-repeat; padding-top: 20px;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li.delete-item a {background: url(../images/delete-icn.gif) 50% 4px no-repeat; padding-top: 23px; }
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li:hover {background-color: #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; border-bottom: 1px solid #FFF;}
#shelf .shelf-items .shelf-item .item-actions li.action-hook .actions-menu li:hover a {color: #333;}
#shelf .shelf-items .shelf-item:hover .item-actions {background-position: 0 -30px;}
#shelf .shelf-items .shelf-item:hover .actions-menu {display: block !important;}

.pagination {padding: 8px 10px 0 10px !important; position: relative;}
.pagination {text-align: center;}
.pagination .prev-link {background: url(../images/prev-link-bg.png) no-repeat; height: 23px; line-height: 23px; padding-left: 20px; position: absolute; left: 10px; top: 8px;}
.pagination .prev-link a {font-size: 11px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #694320; text-shadow: #F9D4A6 0px 1px 0px;}
.pagination .prev-link:hover {background-position: 0 -23px;}
.pagination .next-link {background: url(../images/next-link-bg.png) 100% 0 no-repeat; height: 23px; line-height: 23px; padding-right: 20px; position: absolute; right: 10px; top: 8px;}
.pagination .next-link:hover {background-position: 100% -23px;}
.pagination .next-link a {font-size: 11px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #694320; text-shadow: #F9D4A6 0px 1px 0px;}
.pagination .page-numbers { text-align: center !important; margin-top:3px;}
.pagination .page-numbers li {display: inline-block;}
.pagination .page-numbers .ir {padding-top: 17px; background: url(../images/page-bg.png) 0 0 no-repeat; width: 16px; margin: 0px; display: inline-block;}
.pagination .page-numbers span.ir {background: url(../images/page-current-bg.png) no-repeat !important; width: 9px; margin: 0 3px; display: inline-block; padding-top: 17px; width: 16px; }
.pagination .page-numbers a.ir:hover {background-position: 0px -17px;}

.item-form {background: url(../images/create-item-form-bg.png) 0 50% no-repeat; margin-top: 30px; height: 733px; position: relative; }
.form-head {position: absolute; top: 28px; left: 30px; font-size: 18px; font-weight: normal !important; color: #FFF; font-family: "Lucida Grande","Lucida Sans Unicode", helvetica, verdana, arial;}
.item-form label {display: block; margin: 0 auto 20px auto; position: relative;}
.item-form em.faux-value {position: absolute; padding-top: 7px; left: 6px; color: #AAA; cursor: text;}
.item-form label span.label {display: block; font-size: 14px; margin-bottom: 10px; font-weight: bold; color: #777;}
.item-form label span.label em.hint {font-weight: normal; font-size: 12px; color: #AAA;}
.item-form label:hover span.label, .item-form label:active span.label {color: #444;}
.item-form label .text-field {background: url(../images/text-input-bg.png) repeat-x; border: 1px solid #DCE4E5; border-top: 0; font-size: 14px; padding: 5px; color: #666;}
.item-form label .text-field:hover, .item-form label .text-field:active {background-color: #FFFEEE;}
.item-form .first-field {margin-top: 80px !important; display: block;}
.item-form .price-field, .item-form .photo-field {margin-left: 30px;}
.item-form label.or-label span.ir {background: url(../images/or-bg.png) no-repeat; padding-top: 60px; width: 33px; margin-right: 20px;}
.item-form label.col5-0 {margin-left: 30px;}
.item-form span.currency {color:#30B439; font-size: 20px; margin-right: 5px;}
.item-form em.faux-value.currency {left: 30px;}
.item-form .optional-fields {text-align: center;}
.item-form .optional-fields {border-top: 1px dotted #CCC; position: relative; margin-top: 30px !important; margin-bottom: 20px;}
.item-form .optional-fields .label {font-size: 10px; text-transform: uppercase; padding: 0 5px; background: #fff; display: inline; position: absolute; left: 50%; margin-left: -13%; text-align: left; top: -7px; color: #AAA; font-weight: normal;}
.item-form label textarea.text-field {height: 50px;}
.item-form input.button {margin: -10px auto 0 auto; display: block;}
.check-it-out {margin-top: 150px; margin-right: 40px; background: url(../images/item-preview-shelf.png) no-repeat; height: 274px;}
.check-it-out h3 {margin: 0; text-align: center; font-size: 12px; text-transform: uppercase; font-weight: bold !important; color: #694320;text-shadow: #F9D4A6 0px 1px 0px; font-family: helvetica, verdana, arial, sans-serif; margin-top: 13px;}
.item-preview {background: 0 0 url(../images/item-shadow.png) no-repeat; position: relative; margin: 0 auto; margin-top: 35px; overflow: hidden;height: 200px;  }
.item-preview .item-link {display: block;}
.item-preview .item-link img {display: block; margin: 6px auto 0 auto;border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px; border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;}
.item-preview .item-link:before { content: " "; background: url(../images/shine.png) no-repeat; position: absolute; height: 115px; width: 159px; display: block !important; left: 10px;}

.item-preview .zoom-link {padding-top: 19px; width: 19px; position: absolute; background: url(../images/zoom-icon.png) no-repeat; top: 15px; right: 18px;}

span.tool-tip {position: absolute; background: url(../images/tooltip-arrow.png) 10px 100% no-repeat; padding-bottom: 0px; top: 20px; z-index: 5; left: 0;  margin-top: -25px; line-height: normal !important; padding-bottom: 5px;}
span.tool-tip a {color: #FFF;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background: url(../images/tooltip-bg.png) repeat; padding: 5px 10px 5px 10px; font-size: 11px; text-decoration: none; display: block;}

.single-item-card {background: #FFF url(../images/column-bg.png) repeat-y; min-height: 300px; margin-top: 30px; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.single-item-card .item-preview {margin-top: 20px; height: 243px;}
.single-item-card .item-preview .item-link img { -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.single-item-card .item-preview .item-details {position: absolute; bottom: 42px; left: 50%; margin-left: -80px;}
.single-item-card .item-preview .item-meta { padding:10px; background: url(../images/meta-bg.png) repeat; }
.single-item-card .item-preview .contact-avatar {display: inline-block; margin-bottom: 5px; margin-left: 5px;}
.single-item-card .item-preview .contact-avatar img {border: 1px solid #FFF;}
.single-item-card .item-actions {margin: 3px 0 0 0 !important;}
.single-item-card .item-actions a {color: #CCC; font-size: 10px; text-transform: uppercase; text-decoration: none;}
.single-item-card .item-actions:hover a {color: #DDD;}
.single-item-card .item-actions a:hover {color: #FFF;}
.single-item-card .item-actions li {margin-right: 10px; text-align: center;}
.single-item-card .item-actions li.like-item {background: url(../images/like-icn.png) 0 50% no-repeat; padding-left: 20px;}
.single-item-card .item-actions li.reply-item {background: url(../images/reply-icn.png) 0 50% no-repeat; padding-left: 20px;}
.single-item-card .item-actions li.dm-item {background: url(../images/dm-icn.png) 0 50% no-repeat; padding-left: 20px;}
.single-item-card .item-actions li.rt-item {background: url(../images/rt-icn.png) 0 50% no-repeat; padding-left: 20px;}
.single-item-card .item-actions li.delete-item {background: url(../images/delete-icn.gif) 0 50% no-repeat; padding-left: 20px;}
.single-item-card .single-item-title {margin: 0 ; background: #6E6E6E;border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px; border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px; padding: 10px; }
.single-item-card .single-item-title h2 {margin: 0;font-family:helvetica, verdana, arial, sans-serif; font-weight: bold; letter-spacing: -1px;color: #FFF;}
.single-item-card .single-item-meta {background: #EEEFFF; padding: 10px;border-bottom: 1px solid #CCCEEE; line-height: 16px;border-top: 1px solid #FFF;}
.single-item-card .single-item-meta dt {font-weight: normal; margin-right: 5px;}
.single-item-card .single-item-meta dd {margin: 0 5px 0 0; padding: 0;}
.single-item-card .single-item-meta dd, .single-item-card .single-item-meta dd * {font-weight: bold;}
.single-item-card .single-item-meta .twitter-link {background: url(../images/twitter-icon.png) no-repeat; padding-left: 20px;}
.single-item-card .single-item-meta .twitter-link a {color: #333;text-decoration: none;}
.single-item-card .single-item-meta .twitter-link a:hover {color: 000;}
.single-item-card .single-item-meta:hover {background-color: #CEEFFF;}
.single-item-card .single-item-meta:hover a {text-decoration: underline;}
.single-item-card .single-item-meta .price {color: #30B439;}
.single-item-card .item-blurb {margin-right: 30px; margin-top: 20px;}
.single-item-card .tag-list {margin-top: 30px;}
.single-item-card .tag-list a {color: #666;background: #EEE; padding: 3px 5px;margin-right: 5px;text-decoration: none; font-weight: bold;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; font-size: 10px; text-transform: uppercase; display: block;}
.single-item-card .tag-list:hover a {background: #FFFCCC; }
.single-item-card .tag-list a:hover { color: #FFF; background: #333;}

#item-image {display: none;}
.reply-wrapper h1 {font-size: 14px; background: #333; color: #FFF; margin: -10px 0 0 0; padding: 10px; border-bottom: 1px solid #000;}
.reply-wrapper {background: #CCC; margin: 0 -10px -10px -10px; }
.reply-wrapper .initial {padding-top: 10px; border-top: 1px solid #FFF; padding: 0 10px 10px 10px;}
.reply-wrapper label span {display: block !important; font-style: italic; font-size: 11px; margin: 10px 0 3px 0;}
.reply-wrapper textarea {background: #FFF url(../images/text-input-bg.png) repeat-x; border: 1px solid #DCE4E5; border-top: 0; font-size: 14px; padding: 5px; color: #666; height: 100px; width: 301px; display: block; margin-bottom: 10px;}
.reply-wrapper input.button {font-size: 14px; }
.reply-wrapper .submit-buttons {margin-bottom: 10px;}
.reply-wrapper h1.success {background: #333 url(../images/success.png) 10px 10px no-repeat; padding-left: 30px;}