.footer
  %ul.notList.centerize.col16-2.footer-wrap
    %li.colL
      %h2.null.sinefunc-brand
        %a{:href => 'http://sinefunc.com', :class => 'ir'}
    %li.copyright
      &copy; 2010 Sinefunc, Inc.
      
    