.top-panel
  .col16-2.centerize.boughtstuff-main
    %h2.branding
      %a.ir{ :href => root_url(:host => account_host('www')) }
        = t('site_name')
      %em.ir= t('site_subtitle')

    %form(action=new_item_path method='get')
      %fieldset.centerize.clearFix.col15-2.boughtstuff-form
        %label.colL.placeholder(for='item-name')
          %span.label
            What did you buy?
          %em.faux-value
            e.g. "16GB iPhone", "Dell 24-inch LCD"
          %input.col10-1.text-input#item-name{ :type => "text", :name => "name" }
        %input.colR.button{ :name => "", :type => "submit", :value => "Submit" }

