defaults: &DEFAULTS
  adapter:  postgresql
  username: root
  password:
  encoding: utf8
  pool:     5

development:
  <<: *DEFAULTS
  database: boughtstuff_development

test:
  <<: *DEFAULTS
  database: boughtstuff_test
