.col6-1.colR.clearFix.user-meta
  %a.colR.twitter-pic{ :href => user_url(user), :title => user.name }
    %img{ :src => user.avatar_url, :alt => user.name }
  %h2
    %a{ :href => user_url(user) }
      = truncate(user.name, :length => 20)
  %p
    Has bought
    %strong
      = number_to_currency(user.total_spending)
    worth of stuff.
